header{
    background-color: #FFF;
    border-bottom: 5px solid   #640bc9;
    max-width: 100%;
    margin-top: 0;
  }
  
header h1{
    font-size: 2.5rem;
   
    color: #640bc9c2;
    padding: 15px 8%;
  }
.picture{
    width: 100%;
  }
.motivacao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
    color: #666;
  }
.motivacao h2{
    color: rgba(100, 11, 201, 0.699);
    font-size: 2rem;
  }
.motivacao p{
    margin: 10px 0;
  }
