main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;  
    padding: 15px 8%;
  }
@media only screen and (max-width: 680px){
    main{
      grid-template-columns: 1fr;
    }
  }

  footer{
    background-color: #FFF;
    border-top: 5px solid   rgb(100, 11, 201);
    width: 100%;
    color: #666;
    padding: 15px 8%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  footer p{
    margin: 10px;
    line-height: 1.5;
  }
  .author{
    color: rgb(100, 11, 201);
    font-size: 1rem;
  
  }
  .social a{
    margin: 0 10px ;
  }